.post-prev {
    background-color: #fdf6e3;
    border-radius: 10px;
    border: 1px solid #dddddd;
    color: #586e75;
    font-size: 1.3em;
    margin: 20px 0px;
    max-height: 450px;
    overflow: hidden;
    padding: 10px;
    position: relative;
}

.post-prev .post-prev-title {
    display: block;
    margin-bottom: 10px;
    color: rgb(181, 137, 0);
    font-size: 1.8em;
    font-family: Droid Serif;
}

.post-prev .read-more {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background: linear-gradient(to top, #fdf6e3, rgba(255,255,255,0.8));
}

.post-prev .read-more a {
    margin: 10px auto;
    margin-left: 50px;
    background-color: rgb(255, 230, 179);
    color: #002b36;
    box-shadow: 3px 3px 3px #888;
    border-radius: 10px;
}

.post-prev .read-more a:hover {
    text-decoration: none;
    color: #073642;
    box-shadow: 1px 1px 1px #aaa;
}
