<div id='author'>
    <img id='author-pic' src='/img/daniel.jpg'>
    <h3 id='author-name'>Daniel Campoverde [alx741]</h3>
    <img id='location-icon' src='/img/location_icon.png'>
    <span id='location'>Cuenca, Ecuador</span>
</div>

<div id='findme'>
    <h2 class='sidebar-h2'>FIND ME</h2>
    <a target='_blank' href='https://github.com/alx741'>
        <img class='icon' src='/img/github.png'>
    </a>
    <a target='_blank' href='https://twitter.com/alx741alx'>
        <img class='icon' src='/img/twitter.png'>
    </a>
    <a target='_blank' href='https://www.facebook.com/sillybytes/'>
        <img class='icon' src='/img/facebook.png'>
    </a>
    <a target='_blank' href='https://plus.google.com/116038619580828681039'>
        <img class='icon' src='/img/google.png'>
    </a>
    <a target='_blank' href='https://www.joindiaspora.com/u/alx741'>
        <img class='icon' src='/img/diaspora.png'>
    </a>

    <div id='findme-textual'>
        <b>Freenode:</b> #vim, #archlinux, #avr, #rust, #haskell,
        #yesod, #zsh
        <hr>
        <b>Mailto:</b> alx@sillybytes.net
        <br>
        <b>GPG Key ID:</b> <a href="http://pgp.mit.edu/pks/lookup?op=get&search=0xEB0E776276450F22">76450F22</a>
        <hr>
        <b>Subscribe:</b> <a href='http://www.sillybytes.net/atom.xml'>
            <img id='rss-img' alt='rss' src='/img/rss.png'/> </a>
    </div>


    <div id='facebook-embed'>
        <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fsillybytes&amp;width&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true" scrolling="yes" style="border:none; overflow:hidden;" allowtransparency="false" frameborder="0"></iframe>
    </div>
</div>

<div id='random'>
    <h2 class='sidebar-h2'>YOU MIGHT LIKE</h2>

    <div id='random-posts'>
        <ul>
        </ul>
    </div>
</div>

<div id='about'>
    <h2 class='sidebar-h2'>ABOUT</h2>

    <a target='_blank' href='http://www.haskellers.com/user/4249'>
        <img id='haskellers-img' class='badge' alt="I'm a Haskeller" src='/img/haskellers.png'>
    </a>

    <img id='fsf-img' class='badge' alt='Free Software Fundation Member' src='/img/fsf.png'>

    <a target='_blank' href='http://internetdefenseleague.org/'>
        <img id='idl-img' class='badge' alt='Internet Defesen League' src='/img/idl.png'>
    </a>
</div>

<div id='dotfiles'>
    <h2 class='sidebar-h2'>DOTFILES</h2>
    <p>
        Software configuration, scripts, tools and magic.
        Be sure to add <b>attribution </b> when using them
        (fully or partially).
    </p>
    <a target='_blank' href='https://github.com/alx741/dotfiles#readme'>
        <img id='dotfiles-img' src='/img/dotfiles.png'>
    </a>
</div>


<div id='license'>
    <h2 class='sidebar-h2'>LICENSE</h2>

    <a target='_blank'
        href='http://creativecommons.org/licenses/by-sa/3.0/deed.en_US'>
        <img id='cc-img' alt='Creative Commons - SA - BY' src='/img/cc.png'>
    </a>
    <p id='cc-text'>
        Silly Bytes by Daniel Alejandro Campoverde Carrión
        [alx741] is licensed under a
        <a href='http://creativecommons.org/licenses/by-sa/3.0/deed.en_US'>
            Creative Commons Attribution-ShareAlike 3.0 Unported License.
        </a>
    </p>
</div>
