<!doctype html>
<html lang="en">
    <head>
        <title>Silly Bytes</title>

        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" type="image/png" href="/img/favicon.png"/>
        <link rel="stylesheet" href="/css/main.css" />
    </head>


    <body>

        <header>
            <navbar class='navbar' role='navigation' aria-label='main navigation'>
                <div class='navbar-brand'>
                    <a class='navbar-item' href="/index.html">
                        <b id="logo">Silly Bytes</b>
                    </a>
                </div>

                <div class="navbar-end">
                    <a href="/index.html" class="navbar-item">Home</a>
                    <a href="/about.html" class="navbar-item">About</a>
                </div>
            </navbar>
        </header>


        <div id="main" class="container is-max-desktop">
            $body$

            <nav class='pagination is-medium'>
                $if(previousPageNum)$
                    <a href="$previousPageUrl$" class='pagination-previous'>Previous</a>
                $endif$

                $if(nextPageNum)$
                    <a href="$nextPageUrl$" class='pagination-next'>Next page</a>
                $endif$
            </nav>
        </div>

    </body>

</html>
