<!doctype html>
<html lang="en">
    <head>
        <title>Silly Bytes</title>

        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/css/default.css" />
        <link rel="stylesheet" href="/css/post-list.css" />
        <link rel="stylesheet" href="/css/post.css" />

        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>

        <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"/>

    </head>
    <body>
        <header class='container-fluid'>
            <div class='row'>
                <div class='col-xs-12'>
                    <a href="/">
                        <img alt='Silly Bytes' id='logo' class='image-responsive' src='/images/silly-bytes_logo.png'/>
                    </a>
                </div>
            </div>
        </header>

        <div id='blog' class='container-fluid'>
            <div class='row'>

                <div id='sidebar' class='hidden-xs hidden-sm col-md-3'>
                    <div id='author'>
                        <h2 class='sidebar-h2'>THE AUTHOR</h2>
                        <img id='author-pic' src='/images/danie.jpg'>
                        <h3 id='author-name'>Daniel Campoverde [alx741]</h3>
                    </div>

                    <div id='findme'>
                        <h2 class='sidebar-h2'>FIND ME</h2>
                        <a target='_blank' href='https://github.com/alx741'>
                            <img class='icon' src='/images/github.png'>
                        </a>
                        <a target='_blank' href='https://twitter.com/alx741alx'>
                            <img class='icon' src='/images/twitter.png'>
                        </a>
                        <a target='_blank' href='https://www.facebook.com/sillybytes/'>
                            <img class='icon' src='/images/facebook.png'>
                        </a>
                        <a target='_blank' href='https://plus.google.com/116038619580828681039'>
                            <img class='icon' src='/images/google.png'>
                        </a>
                        <a target='_blank' href='https://www.joindiaspora.com/u/alx741'>
                            <img class='icon' src='/images/diaspora.png'>
                        </a>

                        <div id='findme-textual'>
                            <b>Freenode:</b> #vim, #archlinux, #avr, #rust, #haskell,
                            #yesod, #zsh, #sillybytes
                            <hr>
                            <b>Mailto:</b> alx@sillybytes.net
                            <br>
                            <b>GPG Key ID:</b> 12622B78
                            <hr>
                            <b>Chat</b> with me <a target='_blank'
                                href='http://webchat.freenode.net/?channels=sillybytes'>here</a>
                        </div>


                        <div id='facebook-embed' class='embed-responsive embed-responsive-16by9'>
                            <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fsillybytes&amp;width&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true" scrolling="yes" style="border:none; overflow:hidden; height:290px;" allowtransparency="false" frameborder="0"></iframe>
                        </div>
                    </div>


                    <div id='dotfiles'>
                        <h2 class='sidebar-h2'>DOTFILES</h2>
                        <p>
                            Software configuration, scripts and magic.
                            <br>
                            Be sure to add <b>atribution </b> when using them
                            (fully or partially).
                        </p>
                        <a target='_blank' href='https://github.com/alx741/dotfiles#readme'>
                            <img id='dotfiles-img' src='/images/dotfiles.png'>
                        </a>
                    </div>


                </div>


                <div id='content' class='col-sm-12 col-md-9'>
                    <h1>$title$</h1>
                    $body$
                </div>

            </div>
        </div>




        <footer>
            <div class='row'>

                <div class='col-xs-6'>
                    <h4 class='footer-h4'>PUBLIC KEY</h4>
                    gpg --keyserver keys.gnupg.net --recv-key 12622B78

                    <h4 class='footer-h4 fspaced'>INTERNET DEFENSE LEAGUE</h4>
                    <img id='idl-img' alt='Internet Defesen League' src='/images/idl.png'>
                </div>


                <div class='col-xs-6'>
                    <h4 class='footer-h4'>FSF</h4>
                    <img id='fsf-img' alt='Free Software Fundation Member' src='/images/fsf.png'>

                    <h4 class='footer-h4 fspaced'>HASKELLERS</h4>
                    <img id='haskellers-img' alt='I'm a Haskeller' src='/images/haskellers.png'>

                    <h4 class='footer-h4 fspaced'>CREATIVE COMMONS</h4>
                    <img id='cc-img' alt='Creative Commons - SA - BY' src='/images/cc.png'>
                    <p id='cc-text'>
                        Silly Bytes by Daniel Alejandro Campoverde Carrión
                        [alx741] is licensed under a Creative Commons
                        Attribution-ShareAlike 3.0 Unported License.
                    </p>
                </div>

            </div>
        </footer>


    </body>
</html>
