<nav class="pagination" role="navigation" aria-label="pagination">

    $if(previousPageNum)$
        <a href="$previousPageUrl$" class='pagination-previous'>Previous</a>
    $else$
        <a class='pagination-previous' title='This is the first page' disabled>Previous</a>
    $endif$

    $if(nextPageNum)$
        <a href="$nextPageUrl$" class='pagination-next'>Next page</a>
    $else$
        <a class='pagination-previous' title='This is the last page' disabled>Next page</a>
    $endif$

</nav>
